.main {
    height: 100vh;
    display: flex;
    align-items: center;
  .container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
    img {
      width: 500px;
      height: 500px;
    }
    .section{
        p.prime{
            line-height: 30px;
        }
    }
  }
}
