.main {
  background-color: var(--background-color);
  .heading {
    z-index: 2;
    margin-bottom: 20px;
    span {
      margin-bottom: 20px;
      color: black;
      font-family: cursive;
    }
  }

  .section {
    
    p {
      color: black;
      max-width: 1400px;
    }
  }
}
