:root{
  --background-color: White;
  --menu-color:white;
}
body {
  scroll-behavior: smooth;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: gray;
}


